body {
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 185px);
    grid-auto-rows: 185px;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.grid-item img {
    background-color: #cecece;
    width: 100%;
    height: 100%;
    margin: 5px;
    object-fit: cover;
    border-radius: 10px;
}

#parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#imageDisplay {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 390px;
    background-color: #fefefe;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /*ここの数値を触ることで常時表示の入れ替えができる*/
}

.userId {
    padding: 10px 13px 10px;
}

.solid {
    border: .5px solid #d0d0d0;
}

.mdlTop {
    position: fixed;
    background-color: #fefefe;
    width: 100%;
    height: 43px;
    z-index: 100000;
}

.Content {
    margin-top: 11%;
    width: 390px;
    height: 11%;
    background-color: #fefefe;
}

#displayedImage {
    display: block;
    max-width: 100%;
    position: absolute;
    user-select: none;
    z-index: 1;
    -webkit-user-drag: none;
}

#imageBtn {
    display: flex;
    justify-content: space-between;
    margin: 0 13px;
}

#imageBtn svg {
    display: flex;
}

.unlike svg {
    width: 30px;
}

.like svg {
    width: 30px;
}

.comment svg {
    position: relative;
    left: -125px;
    width: 30px;
}

.share svg {
    width: 25px;
}

#userComment {
    margin: 10px 13px 10px;
}

#commentFlex{
    display: flex;
}

#commentUser p{
    padding-top: 10px;
}

#commentContent p {
    padding: 10px 13px 0;
}

.backGround {
    width: 100%;
    height: 100px;
    background-color: #fefefe;
}
