.userIcon {
    width: 140px;
    border-radius: 100px;
    display: flex;
    margin: 50px auto 30px;
}

.userName {
    text-align: center;
    font-weight: bold;
    margin-bottom:  30px;
}

button {
    display: flex;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid #333;
}

#editWindow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
    transform: translateY(100%);
    border-radius: 15px;
    background-color: #fefefe;
    box-shadow: 0 0 10px #333;
}